nav{
	margin-top:50px;
	background:transparent;
	border:transparent;
}

html *{
  font-family:courier;
}

#credit{
  margin-top:-30px;
}

.contact a{
  color:#a6a6a6;
  text-decoration:underline;

}

.navbar-brand {
	padding-top: 50px;
  	padding: 0px;
}

.navbar-brand>img {
  height: 300%;
  padding: 15px;
  width: auto;
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index:1;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-toggle{
  z-index:2;
  align-items:center;
}

#navfluid .navbar-collapse{
  text-align:center;
}

.mainpage-img{
  width: 100%;
  margin-top:50px;
  margin-bottom: 10px;
}

.mainpage-container{
	margin-top:65px;
}

.mainpage-welcome{
  margin-left:auto;
  margin-right:auto;
  margin-top:55px;
  margin-bottom: 10px;
}

.veghowto{
  margin-top:65px;
}
li{
   z-index:3;
}
.veghowto-list{
  margin-left:18px;
}

.veghowto-bottom{
  margin-bottom:200px;
}

.mandate{
  margin-top:135px;
  margin-left:auto;
  margin-right:auto;
  width:75%;
  margin-bottom:200px;
}

.contact{
  font-size:15pt;
  margin-top:130px;
}

.img-responsive{
  margin-bottom: 10px;
}

.issuuembed{
  height:400px;
  width: 400px;
  margin-top:80px;
}

@media screen and (max-device-width: 1100px){
    a{
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}
@media screen and (max-device-width: 700px){
    #fbpost3{
    display:none;
  }
}

@media screen and (max-device-width: 480px){
  img{
    max-width: 100%;
    height: auto;
  }
  .mainpage-img{
     margin-top:70px;
     max-width:350px;
     margin-left:auto;
     margin-right:auto;
     float:center;
   }
  .veghowto-bottom{
    max-width:85%;
    margin-left:auto;
    margin-right:auto;
    float:center;
  }
  #navfluid .navbar-collapse{
    margin-top:50px !important;
  }
  .issuuembed{
    float:center;
    width:230px;
    height:200px;
    margin-bottom: 200px;
  }
  .contact{
    font-size:12pt;
  }
  #fbpost3{
    display:none;
  }
  iframe{
    margin-left:auto;
    margin-right:auto;
    margin-top:-50px;
    margin-bottom: -150px!important;
    padding:0px!important;
    max-width:100%;
    max-height:600px;
  }
  a{
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
  #credit{
    margin-top:0px!important;
  }
}
